@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

body
{
  font-family: 'Didact Gothic', sans-serif;
}

.app-header
{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

ul {
  width: 100%;
}

.tasks-item {
  margin: 10px;
  border: 2px solid grey;
  padding: 15px;
  border-radius: 5px;
}
